[submodule "chapchap-www"]
	path = chapchap-www
	url = git@github.com:WalterBanda/chapchap-www.git
[submodule "chapchap-firebase"]
	path = chapchap-firebase
	url = git@github.com:WalterBanda/chapchap-firebase.git
